In [2]:
import pandas as pd

In [3]:
import dataframe_image as dfi

In [4]:
df = pd.read_csv('formattedHealthCareData.csv')

In [6]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [7]:
df.head()

,Country,Health Care Index,Infrastructure,Professionals,Cost,Medicine Availability,Government Readiness
0,South Korea,78.72,87.16,14.23,83.59,82.30,87.89
1,Taiwan,77.70,79.05,13.06,78.39,78.99,65.09
2,Denmark,74.11,90.75,30.01,82.59,92.06,96.30
3,Austria,71.32,86.18,20.25,78.99,88.23,91.80
4,Japan,70.73,78.77,21.60,74.88,74.18,93.20

In [9]:
dfi.export(df.describe(), "statstable.png")

In [18]:
len(df['Country'].unique())

89