In [32]:
import pandas as pd
import matplotlib.pyplot as plt

### Converting Linoleic Acid Horizontaly

In [2]:
la = pd.read_excel('Fats and LA relation.xlsx')

In [4]:
la.head()

             Fats  % Linoleic acid†
0   Safflower oil              0.78
1  Grape seed oil              0.73
2   Poppyseed oil              0.70
3   Sunflower oil              0.68
4        Hemp oil              0.60

In [24]:
p1 = pd.pivot_table(data=la, columns=['Fats'], dropna=True )

In [31]:
p1.iloc[0, :]

Fats
Butter            0.020
Canola oil        0.210
Cocoa butter      0.030
Coconut oil       0.020
Corn oil          0.590
Cottonseed oil    0.540
Egg yolk          0.160
Grape seed oil    0.730
Hemp oil          0.600
Lard              0.100
Linseed oil       0.150
Macadamia oil     0.020
Olive oil         0.100
Palm oil          0.100
Peanut oil        0.320
Pistachio oil     0.327
Poppyseed oil     0.700
Rice bran oil     0.390
Safflower oil     0.780
Sesame oil        0.450
Soybean oil       0.510
Sunflower oil     0.680
Walnut oil        0.510
Wheat germ oil    0.550
Name: % Linoleic acid†, dtype: float64

In [43]:
df = p1.iloc[0,0:]

In [45]:
table_columns = p1.columns.to_list()

In [47]:
table_index = p1.index.to_list()

TypeError: 'list' object is not callable